astro-quiz.germanywestcentral.cloudapp.azure.com, astro-quiz.t-herr.com {
  redir /api /api/

  handle_path /api/* {
    reverse_proxy backend:3000
  }

  handle {
    root * /srv
    file_server
    try_files {path} /index.html
  }

  log {
    output stdout
  }
}
